<plugin name='cxf' version='1.0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Christian Oestreich</author>
  <authorEmail>acetrike@gmail.com</authorEmail>
  <title>CXF plug-in for Grails</title>
  <description>Brings easy exposure of service and endpoint classes as Apache CXF SOAP Services to Grails.</description>
  <documentation>http://grails.org/plugin/cxf</documentation>
  <type>CxfGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>DefaultCxfConfig</resource>
    <resource>codenarc</resource>
    <resource>spring.resources</resource>
    <resource>org.grails.cxf.test.Page</resource>
    <resource>org.grails.cxf.test.BookStoreEndpoint</resource>
    <resource>org.grails.cxf.test.BookStoreService</resource>
    <resource>org.grails.cxf.test.CoffeeMakerEndpoint</resource>
    <resource>org.grails.cxf.test.CustomerServiceEndpoint</resource>
    <resource>org.grails.cxf.test.CustomerServiceWsdlEndpoint</resource>
    <resource>org.grails.cxf.test.BoatService</resource>
    <resource>org.grails.cxf.test.CarService</resource>
    <resource>org.grails.cxf.test.LegacyCxfJaxService</resource>
    <resource>org.grails.cxf.test.LegacyCxfService</resource>
    <resource>org.grails.cxf.test.PageService</resource>
    <resource>org.grails.cxf.test.PlaneService</resource>
    <resource>org.grails.cxf.test.TruckService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='com.github.groovy-wslite' name='groovy-wslite' version='0.7.0' />
      <dependency group='org.seleniumhq.selenium' name='selenium-htmlunit-driver' version='2.25.0' />
      <dependency group='org.seleniumhq.selenium' name='selenium-firefox-driver' version='2.20.0' />
      <dependency group='org.seleniumhq.selenium' name='selenium-chrome-driver' version='2.20.0' />
      <dependency group='org.codehaus.geb' name='geb-spock' version='0.7.2' />
    </test>
    <build>
      <dependency group='org.apache.cxf' name='cxf-tools-wsdlto-core' version='2.6.1' />
      <dependency group='org.apache.cxf' name='cxf-rt-frontend-jaxrs' version='2.6.1' />
      <dependency group='org.apache.cxf' name='cxf-tools-wsdlto-databinding-jaxb' version='2.6.1' />
      <dependency group='org.apache.cxf' name='cxf-tools-wsdlto-frontend-jaxws' version='2.6.1' />
      <dependency group='org.apache.cxf' name='cxf-rt-frontend-jaxws' version='2.6.1' />
      <dependency group='commons-cli' name='commons-cli' version='1.2' />
    </build>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>